.cell {
  height: 48px;
  width: 48px;
  padding: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 1px;
  background-color: #eee;
  cursor: pointer;
}

.cell-on {
  background-color: #8C84BD;
}

.cell-finished {
  background-color:	#75DBEA;
}
