.cell {
  height: 36px;
  width: 36px;
  padding: 2px;
  border-radius: 2px;
  background-color: #ccc;
  cursor: pointer;
}

.cell-on {
  background-color: #ff0000;
}

.cell-finished {
  background-color: #0000FF;
}
